.row {
    position: relative;   
    background-color: #080808;
   
    box-sizing: border-box;
    width: 100%;
    margin: 0 10px;
    h2 {
        color: white ;
        font-weight: bold;
        padding: 4px;
    }
    .inner {
        position: relative;
        display: flex;
        align-items: center;
        .slider {
            width: 100%;
            height: 100%;
            overflow-x: scroll;
            white-space: nowrap;
            scroll-behavior: smooth;
            display: flex;
            position: relative;
        }
    } 
 
}


.iconLeft,
.iconRight {
    position: absolute;
    top: 50%;
    z-index: 3;
    font-size: 50px;
    color: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    opacity: .5;
    transition: all .2s ease-in;
    z-index: 5;
    cursor: pointer;
    visibility: hidden;
}

.iconLeft:hover,
.iconRight:hover {
    opacity: 1;
} 
.iconRight {
    right: 0;
}